.fc {
    font-family: 'Roboto', sans-serif;

}

/* .fc .fc-toolbar-title {
    font-family: 'Verdana', sans-serif;
  } */
  
  /* .fc-event {
    font-family: 'Tahoma', sans-serif;
  } */

  /* .fc-button {
    background-color: #7c0414;
    border: none;
    color: #fff;
  } */


  .swal2-popup {
    font-family: 'Roboto', sans-serif !important;
  }
  
